<% layout('layouts/boilerplate')%>
<div class="d-flex align-items-center">

    <h1>Welcome to your next vacation destination finder</h1>
    
    <div class="image">
        <img src="/pexels-asad-photo-maldives-1450372.jpg" id="hammock" alt="hammock-beach" width="700" height="500">
    </div>
</div>
<section class="d-flex justify-content-center mt-3">
    <p>To see all our available paradise locations, click on ''Campgrounds'' in the menu above and explore your options.</p>
</section>
